body {
    font-family: 'Oxygen', sans-serif;
}

.register {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    .wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        padding: 30px;
        border: tomato solid 1px;
        border-radius: 3px;
        box-shadow: 5px 5px 0 tomato;
        h2 {
            font-weight: 500;
        }
        input,
        button,
        h2,
        a {
            color: tomato;
        }
        input,
        button {
            border-radius: 3px;
            padding: 10px;
            box-sizing: border-box;
            font-size: 20px;
        }
        input {
            margin-top: 10px;
            border: tomato solid 1px;
            box-shadow: 3px 3px 0 tomato;
            &::-webkit-input-placeholder {
                color: tomato;
                opacity: .7;
            }
        }
        .control {
            margin-top: 20px;
            display: flex;
            justify-content: space-around;
            width: 100%;
        }
        button {
            cursor: pointer;
            padding-left: 20px;
            padding-right: 20px;
            border: tomato solid 1px;
            background: #fff;
            box-shadow: 3px 3px 0 tomato;
            &:hover {
                opacity: .9;
                color: #fff;
                background-color: tomato;
                box-shadow: 0 0;
            }
        }
        a {
            margin-top: 20px;
            text-decoration: none;
        }
    }
}

.chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    .message-display {
        box-sizing: border-box;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: tomato;
        height: 500px;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 15px;
        overflow: auto;
        &::-webkit-scrollbar {
            display: none;
        }
        p {
            margin: 0;
            margin-bottom: 10px;
            color: #fff;
            word-wrap: break-word;
            background-color: darksalmon;
            padding: 5px 10px;
            border-radius: 5px;
        }
    }
    .message-input {
        display: flex;
        box-sizing: border-box;
        background-color: aquamarine;
        width: 300px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        overflow: hidden;
        input {
            padding: 15px;
            width: 100%;
            border: tomato solid 1px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
}